@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');

:root {
  --primary-color: #f99f38;
}